.main2{
    display: flex;
    width: 500px;
    height: 600px;
    margin-left: 450px;
    margin-top: 50px;
    padding-left: 100px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.in{
    margin-top: 25px;
    width: 250px;
    height: 25px;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    border-style: solid;

}

.lb1{
    margin-right: 10px;
}
.lb2{
    margin-right: 43px;
}

.lb4{
    margin-right: 35px;
}
.lb5{
    margin-right: 50px;
}

.lb8{
    margin-right: 15px;
}

.btn{
    margin-top: 30px;
    margin-left: 140px;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color:rgb(255, 79, 79);
    color: white;
    font-weight: 700 ;
    font-size: 15px;
}

.btn:hover{
    background-color: white;
    color:rgb(255, 79, 79) ;
    transition: 0.3s;
}
.head{
    text-decoration-line: underline;
    margin-left: 100px;
    
}


